<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>product_table</title>
	<style>
	table#table_product{border-collapse: collapse;}
	table#table_product td{border: 1px solid #f0f0f0;padding: 20px;line-height: 24px;width: 45%;font-size: 14px;}
	table#table_product tr{height: 100px;}
	table#table_product td.none{border: none;}
	table#table_product td:first-child{width: 10%;}
	table#table_product #mini_logo{margin-right: 3px;}</style>
</head>
<body>
	<table id="table_product">
		<tr>
			<td class="none"></td>
			<th><span id="mini_logo"><img src="logo.png" alt="华一软件logo" width="16px" height="16px"></span>华一HR系统</th>
			<th>其它HR系统</th>
		</tr>
		<tr>
			<td>易用性</td>
			<td>系统操作借鉴了office软件的简单风格，只要会用excel，就能轻松上手。</td>
			<td>系统操作繁琐，需要花费大量时间精力去学习和操作。</td>
		</tr>
		<tr>
			<td>弹性</td>
			<td>自由配置所需模块，且全面支持自定义：根据企业实际业务需求，在系统设置内设定/修改算法。得到相应结果，省时省心。</td>
			<td>固定配置，难以满足各类复杂需求。需求变更时，二次开发的成本较高。</td>
		</tr>
		<tr>
			<td>数据</td>
			<td>支持多种数据格式，一键录入/导出，快捷准确。<br>
			支持自定义生成各种报表。
			</td>
			<td>数据处理受限于硬件可靠性，易出问题。<br>
			只能生成简单的固定报表
			</td>
		</tr>
		<tr>
			<td>安全</td>
			<td>字段级权限控制，敏感数据加密，数据安全滴水不漏。</td>
			<td>权限控制有漏洞，经常导致工资信息被泄露。</td>
		</tr>
		<tr>
			<td>智能</td>
			<td>系统简单易用，人性化操作随处可见。<br>
			如重大事务提醒，休假到期提醒，实时纠错提醒等。
			</td>
			<td>不够智能导致效率低下。<br>
			如没有实时错误提醒功能，错误的数据被录入，导致计算结果不准确。又要花大量时间去解决。
			</td>
		</tr>
		<tr>
			<td>服务</td>
			<td>十几年项目经验的实施团队，为您提供高质量的产品和服务。</td>
			<td>实施团队不专业，直接导致项目失败。
			软件卖出去就完事，无法获得完善的服务。
			</td>
		</tr>
		<tr>
			<td>可扩展性</td>
			<td>华一产品涵盖了人力资源六大模块，并灵活扩展消费、门禁等一卡通、验厂等企业常见应用。<br>
			任何模块均可与其它丰富的华一产品，乃至任意品牌的OA和ERP系统无缝衔接，可持续地为企业发展提供解决方案。
			</td>
			<td>很难在同一服务商内找到完整的服务，兼容性差，不利于业务增长的扩展性和持续性。</td>
		</tr>
	</table>
</body>
</html>