<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>deme page</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="content">
		<div class="header"></div>
		<div class="side"></div>
		<div class="list">
			<header>宿舍管理<span>(12)</span></header>
			<ul>
				<li><img src="images/1.png" alt=""><span>住宿申请</span></li>
				<li><img src="images/2.png" alt=""><span>住宿申请过档</span></li>
				<li><img src="images/3.png" alt=""><span>一员工调房管理</span></li>
				<li><img src="images/4.png" alt=""><span>两员工调房管理</span></li>
				<li><img src="images/5.png" alt=""><span>%产品名</span></li>
				<li><img src="images/6.png" alt=""><span>%产品名</span></li>
				<li><img src="images/7.png" alt=""><span>%产品名</span></li>
				<li><img src="images/1.png" alt=""><span>%产品名</span></li>
				<li><img src="images/1.png" alt=""><span>%产品名</span></li>
				<li><img src="images/1.png" alt=""><span>%产品名</span></li>
				<li><img src="images/1.png" alt=""><span>%产品名</span></li>
				<li><img src="images/1.png" alt=""><span>%产品名</span></li>
			</ul>
			<header class="sub-list">设置及报表<span>(7)</span></header>
			<ul>
				<li><img src="images/1.png" alt=""><span>系统参数</span></li>
				<li><img src="images/2.png" alt=""><span>基本数据</span></li>
				<li><img src="images/3.png" alt=""><span>部门锁定</span></li>
				<li><img src="images/4.png" alt=""><span>调房管理</span></li>
				<li><img src="images/5.png" alt=""><span>%产品名</span></li>
				<li><img src="images/6.png" alt=""><span>%产品名</span></li>
				<li><img src="images/7.png" alt=""><span>%产品名</span></li>
			</ul>
		</div>
	</div>
</body>
</html>