<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<style>.a-center{
		margin:auto;
		position:absolute;
		left: 0;right: 0;top: 0;bottom: 0;
		overflow: auto;
		}
		#login{
			width: 250px;
			height: 150px;
			border: 1px solid #ccc;
			padding: 20px;
		}
	</style>
	<title>login</title>
</head>
<body>
	<div id="login" class="a-center">
		<form action="#" method="post">
			<table>
				<caption>欢迎登陆</caption>
				<tr>
					<td>
						<lable>账号:</lable>
					</td>
					<td><input type="text" id="uname" name="txt_name" placeholder="请输入账号"></td>
				</tr>
				<tr>
					<td>
						<lable>密码:</lable>
					</td>
					<td><input type="password" id="upw" name="txt_pw" placeholder="请输入密码"></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:center;">
						<input type="submit" value="登陆">
						<input type="submit" value="注册">
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>