<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sprite</title>
	<style>
	.ico-list{width: 300px;height: 60px;background-color: #ccc;border:1px solid black;}
	.ico-list span{background-image:url('images/sprite_ico.png');width: 54px;height: 54px;float: left;margin: 3px;}
	#ico-1{background-position: 0,0;}
	#ico-2{background-position: -60px,0;}
	#ico-3{background-position: -120px,0;}	
	</style>
</head>
<body>
	<div class="ico-list">
		<span id="ico-1"></span>
		<span id="ico-2"></span>
		<span id="ico-3"></span>
	</div>
</body>
</html>