<!-- <table border=0 title="测试">
    <caption> 表格标题</caption>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    <tr>
        <td>张三</td>
        <td>22</td>
    </tr>
    <tr>
        <td><input type=text /></td>
        <td><input type=text /></td>
    </tr>
</table> -->

<form action="#" enctype="multipart/form-date" method="post">
	<table title="登陆表单">
		<caption>欢迎登陆</caption>
		<tr>
			<td>
				<lable>账号：</lable>
			</td>
			<td><input type="text" name="txtname" id="uname" placeholder="请输入账号"></td>
		</tr>
		<tr>
			<td>
				<lable>密码：</lable>
			</td>
			<td><input type="password" name="txtpw" id="upw" placeholder="请输入密码"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="reset">
				<input type="submit">
			</td>
		</tr>
	</table>
</form>
